<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/login.css">
    <title>Login Page</title>
</head>
<body>
<div class="container">
    <form method="POST" id="signUpForm">
        <p>Create an username</p>
        <input type="text" name="username" required/>
        <p>Create a password</p>
        <input type="password" name="password" required/>
        <p>Confirm a password</p>
        <input type="password" name="confirmed_password" required/>
        <div>
            <button class="create__account">Create an account</button>
        </div>
    </form>
    <div class="modal">
        <div class="window">
            <button class="window__close">x</button>
            <p>Passwords are not identical</p>
        </div>
    </div>
</div>
<script>
    document.querySelector('.window__close').addEventListener('click', (e) => {
        document.querySelector('.modal').style.display = 'none'
        document.querySelector('.modal').style.opacity = 0
    })
    const create_acc = document.querySelector('.create__account');
    const password = document.querySelector('[name="password"]');
    const confirmed_password = document.querySelector('[name="confirmed_password"]');
    document.querySelector("#signUpForm").addEventListener("submit", (e) => {
        e.preventDefault();
        if (password.value === confirmed_password.value) {
            const form = e.target;
            let body = new FormData(form);
            body = Object.fromEntries(body);
            fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }).then(response => {
                if (response.ok) {
                    window.location.href = response.url
                } else {
                    throw response;
                }
            })
        } else {
            document.querySelector('.modal').style.display = 'flex'
            document.querySelector('.modal').style.opacity = 1
        }
    })
</script>
</body>
</html>